/* Kido - https://coolors.co/f6f5f2-f6f1e7-fcfcfb-00a3a3-33cbcb-ffcc00-db5a47 */

/* CSS HEX */
--white-smoke: #f6f5f2ff;
--floral-white: #f6f1e7ff;
--white: #fcfcfbff;
--light-sea-green: #00a3a3ff;
--strong-cyan: #33cbcbff;
--bright-amber: #ffcc00ff;
--rosy-copper: #db5a47ff;

/* CSS HSL */
--white-smoke: hsla(45, 18%, 96%, 1);
--floral-white: hsla(40, 45%, 94%, 1);
--white: hsla(60, 14%, 99%, 1);
--light-sea-green: hsla(180, 100%, 32%, 1);
--strong-cyan: hsla(180, 60%, 50%, 1);
--bright-amber: hsla(48, 100%, 50%, 1);
--rosy-copper: hsla(8, 67%, 57%, 1);

/* SCSS HEX */
$white-smoke: #f6f5f2ff;
$floral-white: #f6f1e7ff;
$white: #fcfcfbff;
$light-sea-green: #00a3a3ff;
$strong-cyan: #33cbcbff;
$bright-amber: #ffcc00ff;
$rosy-copper: #db5a47ff;

/* SCSS HSL */
$white-smoke: hsla(45, 18%, 96%, 1);
$floral-white: hsla(40, 45%, 94%, 1);
$white: hsla(60, 14%, 99%, 1);
$light-sea-green: hsla(180, 100%, 32%, 1);
$strong-cyan: hsla(180, 60%, 50%, 1);
$bright-amber: hsla(48, 100%, 50%, 1);
$rosy-copper: hsla(8, 67%, 57%, 1);

/* SCSS RGB */
$white-smoke: rgba(246, 245, 242, 1);
$floral-white: rgba(246, 241, 231, 1);
$white: rgba(252, 252, 251, 1);
$light-sea-green: rgba(0, 163, 163, 1);
$strong-cyan: rgba(51, 203, 203, 1);
$bright-amber: rgba(255, 204, 0, 1);
$rosy-copper: rgba(219, 90, 71, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-right: linear-gradient(90deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-bottom: linear-gradient(180deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-left: linear-gradient(270deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-top-right: linear-gradient(45deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-bottom-right: linear-gradient(135deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-top-left: linear-gradient(225deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-bottom-left: linear-gradient(315deg, #f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);
$gradient-radial: radial-gradient(#f6f5f2ff, #f6f1e7ff, #fcfcfbff, #00a3a3ff, #33cbcbff, #ffcc00ff, #db5a47ff);